<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>967342969101-n6pailsok8oomchjt00uho3v5n3g7gda.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.967342969101-n6pailsok8oomchjt00uho3v5n3g7gda</string>
	<key>API_KEY</key>
	<string>AIzaSyDGOBQms3MyZsCB-Cz0f9ENvvIS9OAR_3A</string>
	<key>GCM_SENDER_ID</key>
	<string>967342969101</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eightApp</string>
	<key>PROJECT_ID</key>
	<string>productivity-app-34968</string>
	<key>STORAGE_BUCKET</key>
	<string>productivity-app-34968.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:967342969101:ios:f2dd231cf56d269bcd6044</string>
</dict>
</plist>